img {
  width: 150px;
  border-radius: 100px;
  margin-right: 100px;
  align-items: center;
}

.content ul li {
  list-style-type: circle;
  color: rgb(88, 70, 88);
}

.content p {
  text-align: center;
  color: rgb(116, 73, 110);
  font-size: 20px;
  font-family: cursive;
}
.header-1 {
  background-color: rgba(184, 109, 155, 0.562);
  width: 100%;
  height: 50px;
  text-decoration-color: blueviolet;
  border-radius: 100px;
}
.td-1 {
  display: inline;
  text-align: right;
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  padding-right: 90px;
  font-size: 30px;
  text-decoration: none;
}
.td-1 a:hover {
  text-decoration: none;
}

.td-2 {
  display: inline;
  text-align: right;
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  padding-right: 90px;
  font-size: 30px;
  color: rgb(116, 73, 110);
}
.content {
  background-color: rgba(184, 109, 155, 0.562);
}
.content h1 {
  color: rgb(116, 73, 110);
  text-align: center;
  font-family: cursive;
}
.content h2 {
  color: rgb(116, 73, 110);
  font-family: cursive;
}
.img-1 {
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
}
.ul-1 {
  font-size: 20px;
  font-family: cursive;
}
